# OpenGL + glfw
git+https://github.com/mcfletch/pyopengl.git@227f9c66976d9f5dadf62b9a97e6beaec84831ca#subdirectory=accelerate  # Accelerate release is a version behind
PyOpenGL==3.1.6
glfw

# Interface stuff
git+https://github.com/pyimgui/pyimgui.git@dev/version-2.0  # Pending 2.0.0 release
PyQt6-WebEngine
PyQt6

# Async goodness
aiosqlite
aiofiles
aiohttp

# BeautifulSoup
beautifulsoup4
lxml ; sys_platform == "win32"  # lxml does not yet have official binaries for python 3.11 on windows

# Misc
pywin32 ; sys_platform == "win32"
uvloop ; sys_platform != "win32"
Pillow
