clint
qasync
aiohttp
pywin32 ; sys_platform == 'win32'
aiofiles
PyQt5==5.15.2
soupsieve>=2.1
beautifulsoup4
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.2

git+https://github.com/pyimgui/pyimgui.git@c27d2f29b187e4453c0826140992c095500f042b
